body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
h5,
p {
  margin: 1rem 0 1rem 0 !important;
  display: block !important;
}

p {
  font-size: small;
}

button,
input {
  margin: 0 0 1rem 0 !important;
  width: 100%;
  display: block !important;
}

a {
  margin-left: .25rem;
}

.card {
  background-color: Gainsboro !important;
  width: 75%;
}

.btn-info {
  background-color: SteelBlue !important;
}

.my-footer {
  color: white;
}

#NDUS_logo {
  padding: 10px;
}
